.main2{
  .el-header{
    padding:0px;
  }
  .el-container{
    height:calc(100% - 0px);
    .el-aside{
      height:100%;
      .el-menu{
        height:auto;
        .el-menu{
          padding-left:0px;
        }
      }
    }
    .el-main{
      background: #eef0f5;
          height: calc(100% - 0px);
    }
  }
  .header-wrap{
    height:80px;
    background:url(../img/sy-bg.jpg) no-repeat;
    background-size: 100% auto;
    display: flex;
    justify-content: space-between;
    .logo-left{
      width: 539px;
      height: 82px;
      background:url(../img/sy-logo.png) no-repeat;
      background-size: 100% 100%;
      background-position-x: 25px;
      background-position-y: -2px;
    }
    .user-info-right{
      display: flex;
      margin-top:20px;
      margin-right:15px;
      .dropdown_bt{
        height:10px;
        margin-top: 10px;
      }
      .portrait{
        width:40px;
        height:40px;
        border-radius: 50%;
        overflow: hidden;
        img{
          width:100%;
        }
      }
      .user-inof{
        padding-left:10px;
        margin-top:10px;
        color:#FFF;
        font-size: 14px;
        height: 20px;
        .user-name{
          color:rgb(109, 209, 255);
        }
      }
      .drop-select{
        margin-left:10px;
        color:#FFF;
        font-size: 16px;
        margin-top: 8px;
        height: 20px;
      }
    }
  }
  .text-wrap{
    .intro{
      line-height: 18px;
    }
    .card{
      margin-bottom: 10px;
    }
  }
  &.sy-wrap{
    height:100%;
  }
  .ticket-info{
    padding-top:10px;
  }
  .pay_bt{
    text-align: center;
    padding:15px 0px;
  }
  fieldset{
    border:1px solid #CCC;
    padding:15px 10px;
  }
  .legend{
    margin-left:10px;
  }
  .el-menu-item-group__title{
    display: none;
  }
  .el-menu-item{
    font-size: 13px;
    height:40px;
    line-height: 40px;

    padding-left: 0px !important;
    padding-right: 0px;
    &:after{
      content: " ";
      position: absolute;
      left: 2px;
      bottom: 0px;
      background: #ebebeb;
      width: calc(100% - 5px);
      height: 1px;
    }
    i{
      color: #31343b;
      margin-right: 0px;
      width: auto;
      padding: 0px 10px;
    }
    &:hover{
      background:#b0cce6;
      color:#FFF;
      i{
        color:#FFF;
      }
    }
    &.is-active{
      color:#FFF;
      background:#92a9be;
      i{
        color:#FFF;
      }
    }
  }
  .el-submenu{
    .el-submenu__title{
      font-size: 13px;
      height:40px;
      line-height: 40px;
      padding-left: 0px!important;
      i{
        color: #31343b;
        margin-right: 0px;
        width: auto;
        padding: 0px 10px;
      }
      &::after{
        content: " ";
        position: absolute;
        left: 2px;
        bottom: 0px;
        background: #ebebeb;
        width: calc(100% - 5px);
        height: 1px;
      }
      &:hover{
        background:#b0cce6;
        color:#FFF;
        i{
          color:#FFF;
        }
      }
    }
    .el-menu-item{
      min-width: auto;
    }
  }
  
}
//一级标题
.fontS24{
  font-size: 24px;
}
.fontS20{
  font-size: 20px;
}
.fontS18{
  font-size: 18px;
}
.fontS16{
  font-size: 16px;
}
.fontS14{
  font-size: 14px;
}
.fontS12{
  font-size: 12px;
}
.h1{
  font-size: 26px;
  font-weight:700;
  color:#000;
}
.h2{
  font-size: 24px;
  font-weight:700;
  color:#000;
}
.h3{
  font-size: 20px;
  font-weight:700;
  color:#000;
}
.h4{
  font-size: 18px;
  font-weight:700;
  color:#000;
}
.h5{
  font-size: 16px;
  font-weight:700;
  color:#000;
}
.h6{
  font-size: 14px;
  font-weight:700;
  color:#000;
}